# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


# ipython profile stuff

db
log
pid
security
#history*.sqlite*
*.sqlite*
profile_default

*.swo
*.swp
profile_collection/startup/20-detectors.py.bak.write-on-gpfs-on-merlin_matt_20200219
profile_collection/startup/20-detectors.py.write-local-on-merlin-test_matt_20200219
*~
profile_collection/startup/#*.py#
profile_collection/startup/eLog.pdf
profile_collection/startup/eLog_info.obj
old/
# Quick test:
profile_collection/startup/20-detectors-eiger.py

# PostScript files to ignore (no .ps extension):
profile_collection/startup/functools
profile_collection/startup/gridspec
profile_collection/startup/h5py
profile_collection/startup/np
profile_collection/startup/os
profile_collection/startup/plt
profile_collection/startup/shutil
profile_collection/startup/sys
profile_collection/startup/css-workspace-xf03id-ws1/
